.active-mode {
  color: red;
}

.cornerstone-element-wrapper {
  width: 100%;
  /* calc(full page - toolbarHeight * 2) */
  height: calc(100% - 130px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cornerstone-element {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 320px;
  margin: 35px auto;
  flex-grow: 1;
}

/* Custom Buttons  */
button.button.set-tool-mode {
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.row-label {
  margin: 0 20px 0 0;
}
