<!-- include the hammer.js library for touch gestures-->
<script src="https://unpkg.com/hammerjs@2.0.8/hammer.js"></script>

<!-- include the cornerstone library -->
<script src="https://unpkg.com/cornerstone-core@2.2.4/dist/cornerstone.min.js"></script>
<script src="https://unpkg.com/cornerstone-math@0.1.6/dist/cornerstoneMath.min.js"></script>
<script src="https://unpkg.com/cornerstone-tools@next"></script>

<!-- include special code for these examples which provides images -->
<script src="{{ site.baseurl }}/assets/imageLoader.js"></script>
