---
layout: default
---

<div class="home">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}

  {{ content }}

  {% if site.pages.size > 0 %}
    <h2 class="tool-list-heading">{{ page.list_title | default: "drafts" }}</h2>
    <ul class="tool-list">
      {% for page in site.pages %}
        {% if page.toolName %}
            <li>
                <h3>
                <a class="tool-link" href="{{ page.url | relative_url }}">
                    {{ page.title | escape }}
                </a>
                </h3>
                {% if site.show_excerpts %}
                {{ page.excerpt }}
                {% endif %}
            </li>
        {% endif %}
      {% endfor %}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {% endif %}

</div>
