---
layout: default
---

<section class="section">
  <div class="container">
    <div class="home">
      {% if page.title %}
      <h1 class="title is-1">{{ page.title }}</h1>
      {% endif %}

      {{ content }}

      {% if site.pages.size > 0 %}
      <h2 class="title is-2">
        {{ page.list_title | default: 'Tool Index' }}
      </h2>
      <ul class="tool-list">
        {% for page in site.pages %} {% if page.toolName %}
        <li>
          <h3>
            <a class="tool-link" href="{{ page.url | relative_url }}">
              {{ page.title | escape }}
            </a>
          </h3>
          {% if site.show_excerpts %}
          {{ page.excerpt }}
          {% endif %}
        </li>
        {% endif %} {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
</section>
