#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #333;
}

.wrapper {
}

.canvas {
  width: 512px;
  margin: 0 auto;
  height: 512px;
  position: relative;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul.tool-category {
  background-color: #999999;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

li a.active,
li a.active:hover {
  background-color: #555555;
}

.tool-category {
  display: none;
}

.tool-category.active {
  display: block;
}

.checkbox-label,
button {
  text-transform: uppercase;
  margin: 0.5em 1em;
  border: 0;
  border-bottom: 2px solid #ccc;
  background: transparent;
  outline: 0;
  cursor: pointer;
}

.checkbox-label:hover,
button.is-active,
button:hover {
  border-bottom: 2px solid #4ea;
}

.hide {
  display: none;
}

.checkbox-label {
  font: 400 11px system-ui;
  color: #000;
}

.label-off {
  color: #e44;
}

.label-on {
  color: #4ea;
}

.checkbox-label .label-on {
  display: none;
}

.checkbox-label.turned-on .label-on {
  display: inline-block;
}

.checkbox-label.turned-on .label-off {
  display: none;
}
